
.texpadtmp/.ManyBody.bbl.icloud
.texpadtmp/.ManyBody.bcf.icloud
.texpadtmp/.ManyBody.blg.icloud
.texpadtmp/.ManyBody.out.icloud
.texpadtmp/.ManyBody.synctex.gz.icloud
.texpadtmp/.ManyBody.toc.icloud
.texpadtmp/.QFT 2.synctex(busy).icloud
.texpadtmp/.QFT.bcf.icloud
.texpadtmp/.QFT.out.icloud
.texpadtmp/.QFT.synctex.gz.icloud
.texpadtmp/.QFT.toc.icloud
.texpadtmp/ManyBody.aux
.texpadtmp/ManyBody.log
.texpadtmp/ManyBody.run.xml
.DS_Store
.texpadtmp/QFT.aux
.texpadtmp/QFT.log
.texpadtmp/QFT.run.xml
Bosonization/.DS_Store
Bosonization/.DS_Store
NLSigmaModel/.texpadtmp/NLSigmaModel.aux
NLSigmaModel/.texpadtmp/NLSigmaModel.bbl
NLSigmaModel/.texpadtmp/NLSigmaModel.blg
NLSigmaModel/.texpadtmp/NLSigmaModel.log
NLSigmaModel/.texpadtmp/NLSigmaModel.out
NLSigmaModel/.texpadtmp/NLSigmaModel.synctex.gz
NLSigmaModel/.texpadtmp/NLSigmaModel.toc
Bosonization/.DS_Store
Bosonization/.DS_Store
QCD/.DS_Store
